{% extends 'base.html.twig' %}

{% block title %}
	Réinitialisation Mot de Passe | DealGames
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-12 col-md-9 col-lg-6 mx-auto p-5 shadow-custom rounded-3">

			<h1 class="mb-4">Réinitialisez votre Mot de Passe</h1>

			{{ form_start(resetForm) }}

			{{ form_row(resetForm.plainPassword) }}
			
			<span class="d-flex justify-content-center">
				<button class="btn btn-primary btn-lg mt-4">Réinitialiser le Mot de Passe</button>
			</span>

			{{ form_end(resetForm) }}
		</div>
	</div>
{% endblock %}
