// Importation Bootstrap

// $primary: #29bf12;


@import "~bootstrap/scss/bootstrap";

// Customs Styles

.shadow-custom {
    box-shadow: 0 0 1rem rgb(0 0 0 / 20%) !important;
}

.pagination {
    display: flex;
    justify-content: center;
}

.object-fit {
    object-fit: cover;
}

.vich-image {
    display: flex;
    flex-direction: column-reverse;
}

.vich-image img {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
}